<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit_User</title>
</head>
<body>
    <div>
        <h1>Edit User: {{ user.id }}</h1>
        <a href="/">Home</a>
    </div>
    <form action="/edit_user/" method = 'post'>
        <input type="hidden" name = "id" value="{{ user.id }}">
        <p> First Name:<input type="text" name ="first_name" value="{{ user.first_name }}"></p>
        <p> Last Name: <input type="text" name ="last_name" value="{{ user.last_name}} "></p>
        <p> Email: <input type="text" name ="email" value="{{ user.email}} "></p>
        <input type="submit" value = "update">
    </form>
        <H5> 
            <a href="/show_user/{{ user.id}}">Show User</a>
        </H5>
</body>
</html>